
body, html {
	height:100%;
	/*margin-top:25px;*/
}

/********************************************** Le navbar  ***************************************************/

.row:first{
	margin-bottom:2.5em;
}

nav{

}
nav ul{
	float: right;
	margin-bottom:0px;
	padding-top:33px;
	padding-bottom:33px;
	text-transform: uppercase;
}
nav li
{

	font-weight: bold;
	font-size: 14px;

	display: inline;
	list-style-type: none;
	padding-right: 20px;
}

nav li a
{
	padding: 0 10px;
	padding-top:33px;
	padding-bottom:33px;
	color:black;
	text-decoration: none !important;

}
nav li a:hover {
    background-color: #F4F4F4;
		color:black;
}

.m_titre{
	text-align: center;
	border:3px solid black;
	padding:10px;
	margin-bottom:15px;
	height:51px;
}



/********************************************** Le slider ***************************************************/

.m_bloc_diaporama{
	margin-bottom:100px;
}

.ccm-image-slider-text {
	margin-top:5%;
	left : 50%;
	font-weight: bold;
	max-width:35%;
}
.ccm-image-slider-text > h2 {
		font-size: 60px;
}
.ccm-image-slider-text > h3 {
		font-size: 24px;
}
.ccm-image-slider-text p {	/* Concerne le bouton du slider */
 margin-top:2.5em;
}

/********************************************** le premier bloc de listes ***************************************************/

.m_bloc_liste1{
	margin-bottom:60px;
}
.m_bloc_liste1 div.ccm-block-page-list-page-entry-horizontal div.ccm-block-page-list-page-entry-thumbnail img{
	width : 80px;
}
/********************************************** le CTA ***************************************************/

.m_bloc_cta{
	background-color:#222222;
	margin-bottom:60px;

}
.cta{
	height:100%;
}
.cta p, .cta h2{
	margin: 40px 0;
}

/********************************************** Sentence ***************************************************/

.m_bloc_sentence{
	margin-bottom:60px;
	text-align:center;
}

/********************************************** le deuxieme bloc de listes ***************************************************/

.m_bloc_liste2{
	margin-bottom:60px;
}


/************************************************** Autre *********************************************************************/

.m_text-white{
	color: white;
}


.ccm-custom-style-container{
	vertical-align: center;
}


.m_button{
	font-size: 18px;
	padding:0.8em;
	text-transform: uppercase;
  font-weight: bold;
	background-color: #F7BE49;
	border: none;
	border-radius:3px;
	color:#222222;
	text-decoration: none;
}

.ccm-custom-style-container{

	height:100%;

}

.centered_picture{
	width:100%;
}



/**********************************************************************************************************************************************************/


.m_block_video{
	padding-bottom:60px;
}

#footer{
	margin-top:75px;
}

/***********************Media queries *****************************************/
/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { /*576*/

	.ccm-image-slider-text > h2 {
			font-size: 20px;
	}
	.ccm-image-slider-text > h3 {
			font-size: 17px;
	}
	.m_button{
		font-size: 15px;
		padding:0.8em;
	}
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
	.ccm-image-slider-text > h2 {
			font-size: 20px;
	}
	.ccm-image-slider-text > h3 {
			font-size: 17px;
	}
	.m_button{
		font-size: 15px;
		padding:0.8em;
	}
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
	.ccm-image-slider-text > h2 {
			font-size: 50px;
	}
	.ccm-image-slider-text > h3 {
			font-size: 20px;
	}
	.m_button{
		margin-top:20px;
		font-size: 18px;
		padding:0.8em;
	}
}
